<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:context="http://www.springframework.org/schema/context"
xmlns:jdbc="http://www.springframework.org/schema/jdbc"
xmlns:jpa="http://www.springframework.org/schema/data/jpa"
xmlns:tx="http://www.springframework.org/schema/tx"
xsi:schemaLocation="http://www.springframework.org/schema/jdbc
http://www.springframework.org/schema/jdbc/spring-jdbc-4.2.xsd
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
http://www.springframework.org/schema/data/jpa 
http://www.springframework.org/schema/data/jpa/spring-jpa-1.0.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-4.2.xsd">	

	<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />
			
	<bean id="springTestBean" class="ils.testspring.testing.SpringRestIntegrationTest"> </bean>
<!-- 	<bean id="SpringJPATest" class="ils.persistence.repositories.SpringRestIntegrationJPATest"> </bean> -->
	
	<bean class="ils.testspring.context.SpringApplicationContext"></bean>
	
	<!-- <jpa:repositories base-package="com.spring.mvc.repository" transaction-manager-ref="transactionManager"  /> -->
	
	<bean id="dataSource"   class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	    <property name="driverClassName" value="org.postgresql.Driver" />
	    <property name="url" value="jdbc:postgresql://127.0.0.1:5432/ils" />
	    <property name="username" value="postgres" />
	    <property name="password" value="postgres" />
	</bean>


	<bean id="entityManagerFactory"
	    class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
	    <property name="dataSource" ref="dataSource" />
	    
	    <property name="packagesToScan" value="ils.persistence.domainclasses,ils.persistence.domainclasses.embeddables">
	     </property>
	    <property name="jpaVendorAdapter">
	        <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />
	    </property>
	    <property name="jpaProperties">
	        <props>
	            <prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
	            <prop key="hibernate.show_sql">true</prop>
	            <prop key="hibernate.hbm2ddl.auto">validate</prop>
	            <!-- <prop key="hibernate.ejb.naming_strategy">org.hibernate.cfg.ImprovedNamingStrategy</prop> -->
	            <prop key="hibernate.cache.provider_class">org.hibernate.cache.HashtableCacheProvider</prop>
	        </props>
	    </property>
	</bean>
	
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
	    <property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>
	
	<!-- <tx:annotation-driven transaction-manager="transactionManager" /> -->
	<tx:annotation-driven />
	
	<context:annotation-config />
	<!-- 
    Configure Spring Data JPA and set the base package of the 
    repository interfaces 
    -->
  <jpa:repositories base-package="ils.persistence.repositories"/>
  <!-- 	<bean id="persistenceExceptionTranslationPostProcessor"
	  class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" /> -->
		
	

   <!--  <context:component-scan base-package="ils.services.dataservices" /> -->
    <context:component-scan base-package="ils.testspring.testing,ils.persistence.repositories,ils.services.dataservices" />
</beans>